@font-face {
    font-family: 'CustomFont';
    src: url('/font/FontsFree-Net-D-DIN-Bold.ttf') format('ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    color: #fff;
    font-family: 'CustomFont', sans-serif;
    font-weight: 500;
    list-style-type: none;
    text-transform: uppercase;
}
li{
    display: inline;
    padding: 15px;
}
.spacex-logo{
    height: 300px;
    width: 300px;
}
.logo{
    height: 300px;
    width: 300px;
    margin-top: -100px;
    margin-left: 30px;
}
.Navbar{
    margin-top: -250px;
    margin-left: 320px;
}
li:nth-child(9) {
    margin-left: 20px;
}
.background{
    width: 100vw;
    height: 740px;
    background-image: url(Images/STARSHIP_Testflight_DESKTOP_2b3bea613a.jpg);
    background-size: 100rem;
    background-repeat: no-repeat;

}